USE [kripto borsa sistemi]
GO
/****** Object:  Table [dbo].[Cuzdan]    Script Date: 3.06.2026 18:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuzdan](
	[CuzdanID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[VarlikID] [int] NOT NULL,
	[Bakiye] [decimal](38, 18) NOT NULL,
	[BlokeBakiye] [decimal](38, 18) NOT NULL,
 CONSTRAINT [PK_Cuzdan] PRIMARY KEY CLUSTERED 
(
	[CuzdanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cuzdan_UserVarlik] UNIQUE NONCLUSTERED 
(
	[KullaniciID] ASC,
	[VarlikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emir]    Script Date: 3.06.2026 18:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emir](
	[EmirID] [bigint] IDENTITY(1,1) NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[PiyasaID] [int] NOT NULL,
	[EmirTipi] [nvarchar](10) NOT NULL,
	[Miktar] [decimal](38, 18) NOT NULL,
	[KalanMiktar] [decimal](38, 18) NOT NULL,
	[Fiyat] [decimal](38, 18) NOT NULL,
	[Durum] [nvarchar](10) NOT NULL,
	[OlusturmaTarihi] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Emir] PRIMARY KEY CLUSTERED 
(
	[EmirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Islem]    Script Date: 3.06.2026 18:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Islem](
	[IslemID] [bigint] IDENTITY(1,1) NOT NULL,
	[PiyasaID] [int] NOT NULL,
	[AlisEmriID] [bigint] NOT NULL,
	[SatisEmriID] [bigint] NOT NULL,
	[Miktar] [decimal](38, 18) NOT NULL,
	[Fiyat] [decimal](38, 18) NOT NULL,
	[IslemTarihi] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Islem] PRIMARY KEY CLUSTERED 
(
	[IslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 3.06.2026 18:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[KullaniciID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[SifreHash] [nvarchar](255) NOT NULL,
	[KYC_Durum] [nvarchar](20) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[KayitTarihi] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Kullanici_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Piyasa]    Script Date: 3.06.2026 18:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Piyasa](
	[PiyasaID] [int] IDENTITY(1,1) NOT NULL,
	[AnaVarlikID] [int] NOT NULL,
	[KarsiVarlikID] [int] NOT NULL,
	[PiyasaSembol] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Piyasa] PRIMARY KEY CLUSTERED 
(
	[PiyasaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Piyasa_Sembol] UNIQUE NONCLUSTERED 
(
	[PiyasaSembol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Varlik]    Script Date: 3.06.2026 18:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Varlik](
	[VarlikID] [int] IDENTITY(1,1) NOT NULL,
	[Sembol] [nvarchar](20) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[VarlikTipi] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Varlik] PRIMARY KEY CLUSTERED 
(
	[VarlikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Varlik_Sembol] UNIQUE NONCLUSTERED 
(
	[Sembol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cuzdan] ADD  CONSTRAINT [DF_Cuzdan_Bakiye]  DEFAULT ((0)) FOR [Bakiye]
GO
ALTER TABLE [dbo].[Cuzdan] ADD  CONSTRAINT [DF_Cuzdan_Bloke]  DEFAULT ((0)) FOR [BlokeBakiye]
GO
ALTER TABLE [dbo].[Emir] ADD  CONSTRAINT [DF_Emir_Durum]  DEFAULT ('OPEN') FOR [Durum]
GO
ALTER TABLE [dbo].[Emir] ADD  CONSTRAINT [DF_Emir_Tarih]  DEFAULT (sysdatetime()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[Islem] ADD  CONSTRAINT [DF_Islem_Tarih]  DEFAULT (sysdatetime()) FOR [IslemTarihi]
GO
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Kullanici_KYC]  DEFAULT ('PENDING') FOR [KYC_Durum]
GO
ALTER TABLE [dbo].[Kullanici] ADD  CONSTRAINT [DF_Kullanici_KayitTarihi]  DEFAULT (sysdatetime()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Cuzdan]  WITH CHECK ADD  CONSTRAINT [FK_Cuzdan_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
GO
ALTER TABLE [dbo].[Cuzdan] CHECK CONSTRAINT [FK_Cuzdan_Kullanici]
GO
ALTER TABLE [dbo].[Cuzdan]  WITH CHECK ADD  CONSTRAINT [FK_Cuzdan_Varlik] FOREIGN KEY([VarlikID])
REFERENCES [dbo].[Varlik] ([VarlikID])
GO
ALTER TABLE [dbo].[Cuzdan] CHECK CONSTRAINT [FK_Cuzdan_Varlik]
GO
ALTER TABLE [dbo].[Emir]  WITH CHECK ADD  CONSTRAINT [FK_Emir_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
GO
ALTER TABLE [dbo].[Emir] CHECK CONSTRAINT [FK_Emir_Kullanici]
GO
ALTER TABLE [dbo].[Emir]  WITH CHECK ADD  CONSTRAINT [FK_Emir_Piyasa] FOREIGN KEY([PiyasaID])
REFERENCES [dbo].[Piyasa] ([PiyasaID])
GO
ALTER TABLE [dbo].[Emir] CHECK CONSTRAINT [FK_Emir_Piyasa]
GO
ALTER TABLE [dbo].[Islem]  WITH CHECK ADD  CONSTRAINT [FK_Islem_AlisEmir] FOREIGN KEY([AlisEmriID])
REFERENCES [dbo].[Emir] ([EmirID])
GO
ALTER TABLE [dbo].[Islem] CHECK CONSTRAINT [FK_Islem_AlisEmir]
GO
ALTER TABLE [dbo].[Islem]  WITH CHECK ADD  CONSTRAINT [FK_Islem_Piyasa] FOREIGN KEY([PiyasaID])
REFERENCES [dbo].[Piyasa] ([PiyasaID])
GO
ALTER TABLE [dbo].[Islem] CHECK CONSTRAINT [FK_Islem_Piyasa]
GO
ALTER TABLE [dbo].[Islem]  WITH CHECK ADD  CONSTRAINT [FK_Islem_SatisEmir] FOREIGN KEY([SatisEmriID])
REFERENCES [dbo].[Emir] ([EmirID])
GO
ALTER TABLE [dbo].[Islem] CHECK CONSTRAINT [FK_Islem_SatisEmir]
GO
ALTER TABLE [dbo].[Piyasa]  WITH CHECK ADD  CONSTRAINT [FK_Piyasa_Ana] FOREIGN KEY([AnaVarlikID])
REFERENCES [dbo].[Varlik] ([VarlikID])
GO
ALTER TABLE [dbo].[Piyasa] CHECK CONSTRAINT [FK_Piyasa_Ana]
GO
ALTER TABLE [dbo].[Piyasa]  WITH CHECK ADD  CONSTRAINT [FK_Piyasa_Karsi] FOREIGN KEY([KarsiVarlikID])
REFERENCES [dbo].[Varlik] ([VarlikID])
GO
ALTER TABLE [dbo].[Piyasa] CHECK CONSTRAINT [FK_Piyasa_Karsi]
GO
ALTER TABLE [dbo].[Cuzdan]  WITH CHECK ADD  CONSTRAINT [CK_Cuzdan_Bakiye] CHECK  (([Bakiye]>=(0) AND [BlokeBakiye]>=(0) AND [Bakiye]>=[BlokeBakiye]))
GO
ALTER TABLE [dbo].[Cuzdan] CHECK CONSTRAINT [CK_Cuzdan_Bakiye]
GO
ALTER TABLE [dbo].[Emir]  WITH CHECK ADD  CONSTRAINT [CK_Emir_Durum] CHECK  (([Durum]='CANCELED' OR [Durum]='FILLED' OR [Durum]='PARTIAL' OR [Durum]='OPEN'))
GO
ALTER TABLE [dbo].[Emir] CHECK CONSTRAINT [CK_Emir_Durum]
GO
ALTER TABLE [dbo].[Emir]  WITH CHECK ADD  CONSTRAINT [CK_Emir_MiktarFiyat] CHECK  (([Miktar]>(0) AND [Fiyat]>(0) AND [KalanMiktar]>=(0) AND [KalanMiktar]<=[Miktar]))
GO
ALTER TABLE [dbo].[Emir] CHECK CONSTRAINT [CK_Emir_MiktarFiyat]
GO
ALTER TABLE [dbo].[Emir]  WITH CHECK ADD  CONSTRAINT [CK_Emir_Tip] CHECK  (([EmirTipi]='SELL' OR [EmirTipi]='BUY'))
GO
ALTER TABLE [dbo].[Emir] CHECK CONSTRAINT [CK_Emir_Tip]
GO
ALTER TABLE [dbo].[Islem]  WITH CHECK ADD  CONSTRAINT [CK_Islem_Emirler] CHECK  (([AlisEmriID]<>[SatisEmriID]))
GO
ALTER TABLE [dbo].[Islem] CHECK CONSTRAINT [CK_Islem_Emirler]
GO
ALTER TABLE [dbo].[Islem]  WITH CHECK ADD  CONSTRAINT [CK_Islem_MiktarFiyat] CHECK  (([Miktar]>(0) AND [Fiyat]>(0)))
GO
ALTER TABLE [dbo].[Islem] CHECK CONSTRAINT [CK_Islem_MiktarFiyat]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [CK_Kullanici_KYC] CHECK  (([KYC_Durum]='REJECTED' OR [KYC_Durum]='APPROVED' OR [KYC_Durum]='PENDING'))
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [CK_Kullanici_KYC]
GO
ALTER TABLE [dbo].[Piyasa]  WITH CHECK ADD  CONSTRAINT [CK_Piyasa_AnaKarsi] CHECK  (([AnaVarlikID]<>[KarsiVarlikID]))
GO
ALTER TABLE [dbo].[Piyasa] CHECK CONSTRAINT [CK_Piyasa_AnaKarsi]
GO
ALTER TABLE [dbo].[Varlik]  WITH CHECK ADD  CONSTRAINT [CK_Varlik_Tip] CHECK  (([VarlikTipi]='TOKEN' OR [VarlikTipi]='FIAT' OR [VarlikTipi]='CRYPTO'))
GO
ALTER TABLE [dbo].[Varlik] CHECK CONSTRAINT [CK_Varlik_Tip]
GO
/****** Object:  StoredProcedure [dbo].[sp_EmirIptalEt]    Script Date: 3.06.2026 18:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EmirIptalEt]
    @EmirID BIGINT
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @KullaniciID INT, @PiyasaID INT, @EmirTipi NVARCHAR(10),
                @KalanMiktar DECIMAL(38,18), @Fiyat DECIMAL(38,18),
                @VarlikID INT, @CozulecekTutar DECIMAL(38,18);

        SELECT 
            @KullaniciID = KullaniciID,
            @PiyasaID = PiyasaID,
            @EmirTipi = EmirTipi,
            @KalanMiktar = KalanMiktar,
            @Fiyat = Fiyat
        FROM dbo.Emir
        WHERE EmirID = @EmirID AND Durum IN ('OPEN','PARTIAL');

        IF @@ROWCOUNT = 0
            RAISERROR('Emir iptal edilemez',16,1);

        IF @EmirTipi = 'BUY'
        BEGIN
            SELECT @VarlikID = KarsiVarlikID FROM dbo.Piyasa WHERE PiyasaID = @PiyasaID;
            SET @CozulecekTutar = @KalanMiktar * @Fiyat;
        END
        ELSE
        BEGIN
            SELECT @VarlikID = AnaVarlikID FROM dbo.Piyasa WHERE PiyasaID = @PiyasaID;
            SET @CozulecekTutar = @KalanMiktar;
        END

        UPDATE dbo.Cuzdan
        SET BlokeBakiye = BlokeBakiye - @CozulecekTutar
        WHERE KullaniciID = @KullaniciID AND VarlikID = @VarlikID;

        UPDATE dbo.Emir
        SET Durum = 'CANCELED'
        WHERE EmirID = @EmirID;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
	end;
GO
/****** Object:  StoredProcedure [dbo].[sp_EmirOlustur]    Script Date: 3.06.2026 18:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EmirOlustur]
    @KullaniciID INT,
    @PiyasaID INT,
    @EmirTipi NVARCHAR(10),
    @Miktar DECIMAL(38,18),
    @Fiyat DECIMAL(38,18)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @VarlikID INT;
        DECLARE @GerekliTutar DECIMAL(38,18);

        IF @EmirTipi = 'BUY'
        BEGIN
            SELECT @VarlikID = KarsiVarlikID FROM dbo.Piyasa WHERE PiyasaID = @PiyasaID;
            SET @GerekliTutar = @Miktar * @Fiyat;
        END
        ELSE
        BEGIN
            SELECT @VarlikID = AnaVarlikID FROM dbo.Piyasa WHERE PiyasaID = @PiyasaID;
            SET @GerekliTutar = @Miktar;
        END

        IF NOT EXISTS (
            SELECT 1 FROM dbo.Cuzdan
            WHERE KullaniciID = @KullaniciID
              AND VarlikID = @VarlikID
              AND (Bakiye - BlokeBakiye) >= @GerekliTutar
        )	
        BEGIN
            RAISERROR ('Yetersiz bakiye',16,1);
        END

        UPDATE dbo.Cuzdan
        SET BlokeBakiye = BlokeBakiye + @GerekliTutar
        WHERE KullaniciID = @KullaniciID AND VarlikID = @VarlikID;

        INSERT INTO dbo.Emir
        (KullaniciID, PiyasaID, EmirTipi, Miktar, KalanMiktar, Fiyat)
        VALUES
        (@KullaniciID, @PiyasaID, @EmirTipi, @Miktar, @Miktar, @Fiyat);

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_KullaniciOlustur]    Script Date: 3.06.2026 18:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KullaniciOlustur]
    @Email NVARCHAR(255),
    @SifreHash NVARCHAR(255),
    @Ad NVARCHAR(50),
    @Soyad NVARCHAR(50)
AS
BEGIN
    INSERT INTO dbo.Kullanici (Email, SifreHash, KYC_Durum, Ad, Soyad)
    VALUES (@Email, @SifreHash, 'PENDING', @Ad, @Soyad);
END;


GO
